@charset "utf-8";
@import '../node_modules/bulma/css/bulma.min.css';
$main-green:  #098B8C;

html {
  background: #EFEDE8;
}

body {
  font-size: 16px;

  section {

    &.hero {
      background-color: $main-green;
      .title {
        color: white;
        font-size: 1.5rem;
      }
    }

    &.transactions {
      .table {
        width: 100%;
        font-weight: bold;
        thead {
          tr {
            border-top-left-radius: 10px;

            th {
              color: $main-green;
              padding: 1rem;
              font-size: 1rem;
            }
          }
        }
        tbody {
          tr {
            background: white;

            td {
              padding: 1rem;
              font-size: 0.8rem;
            }

            &:hover {
              td {
                color: $main-green;
              }
            }
          }
        }
      }
    }

    &.paginations {
      .pagination-link {
        &.is-current {
          background-color:$main-green;
          border-color:$main-green;
        }
      }
    }
  }
}